<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ailbaba.cloud.cgc.mapping.ZMemberMapping">
  <resultMap id="BaseResultMap" type="com.ailbaba.cloud.cgc.domain.ZMember">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="is_vip" jdbcType="INTEGER" property="isVip" />
  </resultMap>
</mapper>